.main-content__contacts {
	width: 100%;
	min-height: 100vh;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.main-content__contacts-heading {
	font-size: 3.5rem;
	font-weight: bold;
	text-transform: uppercase;
}

.main-content__contacts-wrap {
	margin-top: 5rem;
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}

.main-content__contacts-ways-heading,
.main-content__form-heading {
	font-size: 2.4rem;
	font-weight: bold;
	
}

.main-content__contacts-ways {
	width: 50%;
	box-sizing: border-box;
	padding-left: 5rem;
	padding-right: 2rem;
	min-width: 280px;
	min-height: 40rem;
	padding-bottom: 5rem;
}

.main-content__contacts-list {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	text-align: left;
}

.main-content__contacts-item {
	font-family: inherit;
	font-size: 1.8rem;
	font-weight: 600;
	font-style: italic;
	color: #747474;
}

.main-content__contacts-link {
	font-family: inherit;
	font-size: inherit;
	text-decoration: none;
	color: #000000;
	&:hover {
		text-shadow: 3px 3px 5px #000000;
	}
		
}

@media (max-width: 768px ) {
	.main-content__contacts-link--desctop {
		display: none;
	}
}
@media (min-width: 769px ) {
	.main-content__contacts-link--mobile {
		display: none;
	}
}

.main-content__contacts-form {
	@extend .main-content__contacts-ways;
	min-height: 50rem;
	padding-left: 2rem;
	padding-right: 5rem;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	font-size: 1.8rem;

}

.main-content__form-input {
	@extend .main-content__contacts-item;
	border: 3px solid #000;
    background-color: #e8e8e8;
    padding: 10px 15px;
	

}

.main-content__form-input[type="submit"] {
	font-weight: bold;
	color: #000000;
}