.main-content__business-card {
	width: 100%;
	min-height: 100vh;
	background:  url('../img/bg-businessCard.jpg');
	background-position: 50% 50%;
	background-size: cover;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
}

.main-content__name-wrap {
	text-align: center;
	color: #ffffff;
	text-shadow: 3px 3px 5px #000000;
	background-color: rgba(0,0,0,.6);
	padding: 1.5rem 2rem;
	transform: skew(-15deg,0deg);
	& *{
		transform: skew(15deg,0deg);
	}
}

.main-content__my-name {
	font-size: 5.5rem;
	text-transform: uppercase;
	font-style: italic;
	font-weight: 600;
	padding-bottom: 2rem;
}

.main-content__my-skills {
	font-size: 1.8rem;
	padding-bottom: 1rem;
}